.alert-dialog {
    min-width: 350px;
    text-align: center;
  }
  .mat-icon {
    margin-left: -40px;
    font-size: 5em;
  }
  .dialog-btn {
    display: flex;
    justify-content: space-around;
  }