.card-title-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

::ng-deep .mat-card{
    min-height: 150px;
    width: 200px;
}

.red{
    background-color: red;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}
.green{
    background-color: green;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}
.yellow{
    background-color: gold;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}