<div> 
    <mat-toolbar class="component-header">
        <div class="component-title">
            <span class="fill-remaining-space">{{data.title}}</span>
        </div>
        <div class="component-close">
            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
  </div>
<div class="task-info" novalidate>
    <form #newTaskForm="ngForm" class="form">
        <mat-form-field class="form-element">
            <input
                matInput
                placeholder=Name
                name="name"
                [(ngModel)]="name"
                required
            />
        </mat-form-field>
        <mat-form-field class="form-element">
            <input
                matInput
                placeholder=Description
                name="description"
                [(ngModel)]="description"
                required
            />
        </mat-form-field>
        <div class="form-priority">
            <div class="label">
                <mat-label >Priority</mat-label>
            </div>
            <div class="radio-buttons">
                <mat-radio-group color="primary" (change)="onChange($event)" [value]=priority>
                    <mat-radio-button value="HIGH"><span class="red">High</span></mat-radio-button>
                    <mat-radio-button value="MEDIUM"><span class="yellow">Medium</span></mat-radio-button>
                    <mat-radio-button value="LOW"><span class="green">Low</span></mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="btn">
            <button
                mat-raised-button
                (click)="save(newTaskForm.form.value)"
                [disabled]="newTaskForm.form.invalid"
                color="primary"
            > Save
                <mat-icon>save</mat-icon>
            </button>
        </div>

    </form>
</div>
