/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .logo{
        padding-right: 10px;
    }
}

.btn{
    text-align: center;
    padding-top: 40px;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: transparent !important;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: transparent !important;
} 

:host ::ng-deep .mat-radio-button{
    height: 2.5rem !important;
}

.toast-success {
    z-index: 99999;
    background: green;
    color: white;
}
.toast-danger {
    z-index: 99999;
    background: red;
    color: white;
}
.toast-info {
    z-index: 99999;
    background: darkblue;
    color: white;
}

.red{
    background-color: red;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}
.green{
    background-color: green;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}
.yellow{
    background-color: gold;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}